body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

header {
    background-color: #23da8be3;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 2rem;
}

h1 {
    color: #333;
}

p {
    line-height: 1.5;
}

img {
    height: 200px;
    width: 200px;
}